body {
    width: 100%;
}
body {
   text-align: center;
}

#field {
    display: inline-block;
}

.container {
    display: flex;
}

.box {
height: 50px;
width: 50px;
border: 1px solid black;
}

.yellow {
    background-color: yellow;
}